

.App {
  text-align: center;
  width: 100%;
  height: 2500px;
  background-color: rgb(0, 0, 0);
  margin-top: -50px;
  white-space: nowrap;
  display: block;
  overflow-y: auto;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  float: right;
  position: absolute;
  height: 1000px;
  background-color: rgb(0, 0, 0);
  white-space: nowrap;
  display: inline-flex;
  margin-left:250px;
  
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.2rem;
}

.mainTitle{
  color: white;
  float: left;
  position: absolute;
  font-size: 7rem;
  left: 180px;
  z-index: 7;
  align-self: center;
}

.subheading, .check{
  display: block;
  color: white; 
  font-size: 2.5rem;
  z-index: 0;
  left: 420px;
  top:180px;
  position: absolute;
}

.bgImg{
  height: 650px;
  border-radius: 50%;
  overflow: auto;
  z-index: 0;
  position: fixed;
  right:10px;
}

.check {
  position: absolute;
  display: block;
  box-shadow: -6px 6px 0 rgb(83, 39, 39);
  color: rgb(255, 255, 255);
  border: 3px solid rgb(83, 39, 39);
  background-color: black;
  border-radius: 30px;
  width: 300px;
  top: 300px;
  margin-left: 80px;
  font-size: 1.8rem;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 3;
}

.check:hover {
  top: 303px;
  box-shadow: -3px 3px 0 rgb(83, 39, 39);
}
.check::after {
  top: 1px;
  left: -2px;
}
  
.check::before {
  bottom: -2px;
  right: 1px;
}

.check::after {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  top: 2px;
  left: -4px;
  background-color:  rgb(83, 39, 39);
  transform: rotate(45deg);
  z-index: -1;
}

.check::before {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  bottom: -4px;
  right: 2px;
  background-color: rgb(83, 39, 39);
  transform: rotate(45deg);
  z-index: -1;
}


.body {
  position: relative;
  top:550px;
  height:1000px;
  z-index:8;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#body {
  top: 50px;
  position: absolute;
}

#content {
  top: 100px;
  position: absolute;
}

.welcome {
  bottom: 100px;

  color:white;
  text-align: center;
  margin-top: 350px;
  margin-left:330px;
}

.edu {
  margin-top: 20px;
}

.intro, .about{
  z-index: 6;
}

#myWork{
  color: white;
  margin-top: 850px;
  margin-left:575px;
}

.projectBtn{
  position: absolute;
  width: 280px;
  height: 160px;
  z-index: 10;
  margin-top: 20px;
  margin-left: -20px;
  box-shadow: rgba(255, 255, 255, 0.521) 0px 3px 8px;
}

ul{
  color: white;
}

.siteLabel{
  color: white;
  text-align: center;
  margin-left:220px;
  margin-top: 1px;
 
}

.hidden {
  display: none;
  visibility: hidden;
}

#web1, #web2 {
  transition: transform .7s ease-in-out; 
  position: absolute;

}

#web1:hover {
  transform: scale(1.4) translateX(15px); 
  z-index: 12;
}

#web2:hover {
  transform: scale(1.4) translateX(-65px); 
  z-index: 12;
}

#web1 {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 0px;
}

#web2 {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  margin-left: 320px;
  
}

.exampleDescription, .exampleDescription2 {
  color:white;
  top: 180px;
  position: absolute;
  text-align: center;
  overflow:hidden;
  white-space:break-spaces;
  height:600px;
  width: 650px;
  left:-25px; 
}

.webDescBody, .webDescBody2 {
  margin-right: 50px;
  display: block;
  width:45%;
}

.skills {
  color:white;
  text-align: center;
  position: relative;
  list-style-type:none;
  width: 180px;
  height: 140px;
  right:25px;
}

.feImg {
  width: 180px;
  height: 120px;
  left:20px;
  margin-top: 10px;
}

.flip-card, .flip-card2 {
  background-color: transparent;
  margin-top: -20px;
  width: 200px;
  height: 140px;
  position: relative;
  left:540px;
  perspective: 1000px;
  z-index: 4;
  cursor: pointer;
 
}

.flip-card2 {
  margin-top: -15px;
}

.flip-card-inner {
  position: absolute;
  width: 200px;
  height: 120px;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
 
}

.flip-card:hover .flip-card-inner, .flip-card2:hover .flip-card-inner{
  transform: rotateY(180deg);

}


.flip-card-front, .flip-card-front2, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 200px;
  height: 170px;

 
}

.flip-card-front {
  background-color: #bbbbbb00;
  color: rgb(240, 240, 240);
  width: 200px;
  height: 140px;
 
  
}

.flip-card-front2 {
  background-color: #bbbbbb00;
  color: rgb(240, 240, 240);
  width: 200px;
  height: 140px;

}


.flip-card-back {
  background-color: #00000000;
  color: white;
  transform: rotateY(180deg);
  width: 200px;
  height: 170px;
}

/**bgImg {
  padding: 0;
  height: 550px;
  background-repeat: none;
  clip-path: ellipse(50% 50% at 26% 28%);
  border-radius: 50%;
  white-space: nowrap;
}**/

@media only screen and (max-width: 1919px) {

  .bgImg{
    height:800px;
  }
}

@media only screen and (min-width: 1920px) {

  .bgImg{
    height:1000px;
  }
}